<div class="z-50 flex items-center bg-black p-4 md:p-6 lg:p-8 text-sm md:text-md lg:text-xl text-white justify-center">
    <p class="text-center">&copy; <span id="copyright-year">20XX</span> Brooke Nygren. All Rights Reserved.</p>
    <script>document.getElementById("copyright-year").textContent = new Date().getFullYear();</script>
</div>
